.button {
  height: 50px;
  background: pink;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  border: 2px solid coral;
  margin: 10px;
}

.button:hover {
  background: #ffefeb;
}

.texts {
  display: inline-block;
  margin: 10px;
  width: 100px;
}

.oneMore {
  height: 50px;
  background: pink;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  border: 2px solid coral;
  margin: 30px;
}
