.keyboard {
  position: sticky;
  top: 0;
  height: 200px;
}

.white_keys {
  height: 100%;
}

.white_key {
  background-color: #fff;
  border: solid 1px #555;
  margin: 0 -1px 0 0;
  border-radius: 0 0 8px 8px;
}
.white_key:hover {
  background-color: #ddd;
}

.black_keys {
  height: 55.55%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.black_key {
  background-color: #888;
  border: solid 1px #555;
  border-radius: 0 0 4px 4px;
}
.black_key:hover {
  background-color: #555;
}

.active_key {
  background: pink;
}
.active_key:hover {
  background: lightpink;
}

.h3 {
  margin: 40px 0 0;
}

.scale_list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.scale_list_item {
  width: 60px;
  height: 40px;
  margin: 10px;
}

.scale_button {
  width: 100%;
  height: 100%;
  font-size: 20px;
}
